@model UserInfo;
@{ ViewBag.Title = "Basvuru Formu "; }

<h1 class="h4 text-center">Meeting Participation Form</h1>
<form method="post" action="/Meeting/Apply" novalidate>
  <div asp-validation-summary="All"></div>
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Name </label>
    <input asp-for="Name" class="form-control"  />
  </div>
  <div class="mb-3">
    <label asp-for="Phone" class="form-label">Phone</label>
    <input asp-for="Phone" class="form-control" />
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input asp-for="Email" tclass="form-control"  />
  </div>
  <div class="mb-3">
    <label asp-for="Participation" class="form-label">Participation: </label>
    <br />
    <label asp-for="Participation" class="form-label">Participation Status </label>
    <select asp-for="Participation">
      <option value="">Please choose</option>
      <option value="true">Yes, I will participate</option>
      <option value="false">No, I wont participate</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
