<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MeetingApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">

</head>
<body>
<div class="bg-primary text text-white p-2 text-center">
    Meeting APP
</div>
<div class="container mt-3">
    <div class="row">
<div class="col lg-6 mx-auto ">
    <div class="card">
        <div class="card-body">
            @RenderBody()

        </div>
    </div>
</div>

    </div>
</div>


</body>
</html>